{% extends "base.html" %}

{% block content %}

<!-- BREADCRUMB -->
<div class="btn btn-secondary btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-home"></i>
    </span>
    <span class="text">Saltstack > Minion Audit</span>
</div>
<br>
<br>


<!-- Main content -->
<div class="main-content">


       <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Minion Command Audit</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="audit-table" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Host</th>
                      <th>Username</th>
                      <th>Command</th>
                      <th>Arguments</th>
                      <th>Timestamp</th>
                    </tr>
                  </thead>
                  <tbody>
                
                {% for timestamp in audit_dict %}
                <tr>
                    <td>{{ audit_dict[timestamp]['hostname'] }}</td>
                    <td>{{ audit_dict[timestamp]['username'] }}</td>
                    <td>{{ audit_dict[timestamp]['command'] }}</td>
                    <td>{{ audit_dict[timestamp]['args'] }}</td>
                    <td>{{ timestamp }}</td>
                </tr>
                
                {% endfor %}
                 
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
	

 
</div> <!-- /main content -->

{% endblock %}



