{% extends "base.html" %}
{% block content %}

<!-- BREADCRUMB -->
<div class="btn btn-secondary btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-home"></i>
    </span>
    <span class="text">Saltstack > Execute Cmd</span>
</div>
<br>
<br>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Execute a remote command</h1>
</div>


<div class="row">
    <div class="col-lg-10">
        <div class="card mb-4 py-3 border-left-primary">
        <div class="card-body">
        

            <form method="post" action="{{ url_for('run_cmd_execute') }}"> 
                <div class="form-group">
                <div class="row show-grid">
                    <div class="col-md-3">
                        <select class="form-control form-control-lg label label-primary" name="hostname">
                        
                        {% for target in target_list | unique | sort %}
                            {% if (hostname is defined) and (hostname == target) %}
                            <option value="{{ target }}" selected>{{ target }}</option>
                            {% else %}
                            <option value="{{ target }}">{{ target }}</option>
                            {% endif %}
                        {% endfor %}

                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control form-control-lg label label-default" name="cmd_name">
                            <option disabled selected value style="background-color:#efffd3">command</option>
                            {% for module in cmd_list|sort %}
                                {% for cmd in cmd_list[module]|sort %}
                            <option value="{{ module }}.{{ cmd }}">{{ module }}.{{ cmd }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="args" name="args" aria-describedby="args" placeholder="cmd arguments" style="height:47px">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-info">execute</button>
                    </div>
                </div>
                </div>


                <div class="row">
                    <div class="col-sm-3">
                        <code>simulate</code>
                        <select class="form-control form-control col-sm-6" name="simulate">
                            {% if options['simulate'] %}
                            <option value="true" selected>True</option>
                            <option value="false">False</option>
                            {% else %}
                            <option value="true" selected>False</option>
                            <option value="false">True</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <code>output format</code>
                        <select class="form-control form-control col-sm-6" name="output_fmt">
                            {% set output = options['output'] or 'json' %}
                            {% if output == 'json' %}
                            <option value="json" selected>json</option>
                            <option value="yaml">yaml</option>

                            {% elif output == 'yaml' %}
                            <option value="yaml" selected>yaml</option>
                            <option value="json">json</option>

                            {% else %}
                            <option value="json" selected>json</option>
                            <option value="yaml">yaml</option>
                            {% endif %}

                        </select>
                    </div>
                  
                </div>


            </form>
        </div>
        </div>
    </div>
</div>


{% if error_msg %}
<div class="row">
    <div class="col-lg-8">
        <div class="alert alert-danger" role="alert">
            {{ error_msg }}
        </div>
    </div>
</div>
{% endif %}



{% if action == 'display_cmd_results' %}
<br>
<div class="row">
    <div class="col-lg-10">
        <div class="card shadow mb-4">
            <div class="card-header py-6">
                <span class="text-primary"><span class="badge badge-primary">{{ hostname }}</span> <span class="badge badge-info">{{ cmd_name }}</span> <span class="badge badge-warning">{{ args }}</span></span> 
                {% if simulate == 'true' %}<span class="badge badge-secondary"> SIMULATED</span>{% endif %}
            </div>
            <div class="card-body">
                <pre><code>{{ result }}</code></pre>
            </div>
        </div>
    </div>
</div>
{% endif %}







{% endblock %}



