{% extends "base.html" %}

{% block content %}

<!-- BREADCRUMB -->
<div class="btn btn-secondary btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-home"></i>
    </span>
    <span class="text">Silica > {{ breadcrumb }} </span>
</div>

<br>
<br>


<!-- Main content -->
<div class="main-content">
       <!-- Begin Page Content -->
        <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endfor %}      
          {% endif %}
        {% endwith %}

     
        <div class="col-md-10 col-md-offset-3">
          <div class="card shadow mb-6">
            <div class="card-body">


            {% if action == 'show_users' %}
     
            <a href="{{ url_for('add_user') }}" class="btn btn-info d-flex float-right" role="button">Add User</a><br><br>
              <table class="table">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Access</th>
                        <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in all_users %}
                        <tr>
                        <td>{{ user.username }}</th>

                        <td>{{ user.email }} </td>
                        <td>
                            {% if user.admin == 1 %}
                            Administrator
                            {% else %}
                            Regular
                            {% endif %}
                        </td>
                        <td align="right">
                        <a href="{{ url_for('change_pw', username=user.username) }}" class="btn btn-secondary btn-small" role="button">Change Password</a>
                         <a href="{{ url_for('delete_user', username=user.username) }}" onclick="return confirm('Are you sure?');" class="btn btn-danger btn-small" role="button">Delete user</a>
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
              </table>

            {% elif action == 'add_user' %}

            <form action="{{ url_for('add_user') }}" method="POST">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <table class="table">
            <thead class="thead-dark">
            <tr>
            <th scope="col" colspan="2">New User</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>{{ form.username.label }}</td>
            <td>{{ form.username(size=20) }}</td>
            </tr>
            <tr>
            <td>{{ form.password1.label }}</td>
            <td>{{ form.password1(size=20) }}</td>
            </tr>
            <tr>
            <td><p class="text-gray-500 mb-0">Re-enter password</p><br>
            {{ form.password2.label }}</td>
            <td><br><br>{{ form.password2(size=20) }}</td>
            </tr>
            <tr>
            <td>{{ form.email.label }}</td>
            <td>{{ form.email(size=20) }}</td>
            {% if form.email.errors %}
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}</ul>
            {% endif %}
            </tr>
            <tr>
            <td>{{ form.admin.label }}</td>
            <td>{{ form.admin }}</td>
            </tr>
            <tr>
            <td colspan="2" align="center">
            {{ form.submit(class_="btn btn-info btn-small") }} &nbsp; &nbsp; 
            <a href="{{ url_for('show_users') }}" class="btn btn-secondary btn-small" role="button">Cancel</a><br><br>
            </td>
            </tr>
            </tbody>
            </table>
            </form>

            {% endif %}

            {% if action == 'change_pw' %}

             <form action="{{ url_for('change_pw', username=username) }}" method="POST">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <table class="table">
            <thead class="thead-dark">
            <tr>
            <th scope="col" colspan="2">Change Password for user: {{ username|upper }}</th>
            </tr>
            </thead>
            <tbody>

            <td><p class="text-gray-500 mb-0">Enter new password</p>{{ form.password1.label }}</p><br>
            </td>
            <td>{{ form.password1(size=20) }}</td>
            </tr>
            <tr>
            <td><p class="text-gray-500 mb-0">Re-enter password</p><br>
            {{ form.password2.label }}</td>
            <td><br><br>{{ form.password2(size=20) }}</td>
            </tr>
            <tr>
            <td colspan="2" align="center">
            {{ form.submit(class_="btn btn-info btn-small") }} &nbsp; &nbsp; 
            <a href="{{ url_for('show_users') }}" class="btn btn-secondary btn-small" role="button">Cancel</a><br><br>
            </td>
            </tr>
            </tbody>
            </table>
            </form>


            {% endif %}
            </div>
          </div>
        </div>
        







        </div>
        <!-- /.container-fluid -->
</div> <!-- /main content -->





{% endblock %}



